[access]
[access "refs/heads/*"]
	create = group find7op kernel maintainers
	push = +force group find7op kernel maintainers
	pushMerge = group find7op kernel maintainers
	label-Code-Review = -2..+2 group find7op kernel maintainers
	label-Verified = -1..+1 group find7op kernel maintainers
	submit = group find7op kernel maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group find7op kernel maintainers
