[access]
	inheritFrom = android_device_oppo_msm8974-common
[access "refs/heads/*"]
	create = group find7op kernel maintainers
	push = +force group find7op kernel maintainers
	pushMerge = group find7op kernel maintainers
	label-Code-Review = -2..+2 group find7op kernel maintainers
	label-Verified = -1..+1 group find7op kernel maintainers
	submit = group find7op kernel maintainers
